.widget-user-header-visualize {
	position: absolute; 
	top: 0; 
	right: 5px;
}
.widget-user-header-visualize a{
	color: #fff;
}

.btn-box-tool-add{
	font-weight: bold;
    font-size: 1.1em;
}

.pagination-area{
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
}
    